<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Expense Tracker App</title>
</head>
<body>

    <h1> Expense Tracker APP LOgin page</h1> <br>

    <form method="post">

        Email<input type="email" id="email" name="email" required>
        <input type="password" id="password" name="password" required>

        <button id="button" type="submit">Login</button>
        
    </form><br>

    <a href='forgetpassword.html'>forget password</a>
    

</body>
<script src="login.js" type="text/javascript"></script>
</html>