<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Password</title>
</head>
<body>
  <h1>Update Password</h1>
  <form  method="POST">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newpassword" name="newpassword" required>
    <br>
   
    <button id="button">Update Password</button>
  </form>
</body>
    <script src="updatepassword.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</html>
